<div class="h-100 w-100">
    <ul style="height: calc(100% - 118px); overflow: auto;">
        <li>
            <div class="logo">
                LOGO
            </div>
        </li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>
        <li><i class="fa-solid fa-box"></i></li>

    </ul>

    <ul>
        <li style="color: #626466"><i class="fa-solid fa-bell"></i></li>
        <li style="color: #626466"><i class="fa-solid fa-gear"></i></li>
        <li style="color: #626466"><i class="fa-solid fa-right-from-bracket"></i></li>
    </ul>
</div>